#page-not-found {
  width: 100%;
  height: 100%;

  .titles {
    padding: 25px;

    h2 {
      font-size: 3em;
    }

    h3 {
      font-size: 1.5em;
    }
  }

  img {
    max-height: 382px;
  }
}